@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --accent: #1bceff;
  --accent-alt: #14a9ff;
  --background: #1b1827;
  --background-alt: #252238;
  --text: #ffffff;

  --error: #f37989;
  --error-alt: #e95568;
}

[tema="claro"] {
  --accent: #1bceff;
  --accent-alt: #14a9ff;
  --background: #d7dbe2;
  --background-alt: #ffffff;
  --text: #1b1827;

  --error: #f37989;
  --error-alt: #e95568;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-content: center;

  background-color: var(--background);
  min-height: 100vh;

  font-family: 'Outfit', sans-serif;

  padding: 0;
  margin: 0;

  width: 100vw;

  font-size: large;

  color: var(--text);

  overflow-x: hidden;
}

.footer {  
  width: 100vw;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: space-between;

  background-color: var(--background-alt);
  padding: 16px;
  height: 64px;

  padding-left: 5%;
  padding-right: 5%;

  font-size: smaller;
}

.header {  
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 64px;

  justify-content: start;
  align-items: center;

  background-color: var(--background-alt);
  padding: 16px;
  height: 64px;

  padding-left: 0;
  padding-right: 10%;
}

.header-left {
  flex-grow: 1;
  display: flex;

  gap: 16px;
}

.header-right {
  flex-grow: 1;
  display: flex;

  gap: 16px;

  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 32px;

  justify-content: center;
  align-items: center;

  background-color: var(--background-alt);
  padding: 16px;
  height: 64px;

  padding-left: 20%;
  padding-right: 20%;
}

.jueguitos-logo {
  font-size: larger;
  font-weight: bold;

  align-self: flex-start;

  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--accent);
  height: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;

  transition: .2s ease-in-out;
}

.jueguitos-logo:hover {
  color: var(--background-alt);
  background-color: var(--accent-alt);
}
.categoria-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  cursor: pointer;
}

.categoria-header-menu {
  position: absolute;
  top: 100%;
  left: 0;

  width: fit-content;

  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  gap: 16px;
  background-color: var(--background-alt);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.categoria-header:hover .categoria-header-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.2s;

  display: flex;
  flex-direction: row;

  align-content: center;
}

a:hover {
  color:var(--accent-alt);
}


.container {
  display: flex;
  position: relative;

  width: 80%;
  align-self: center;

  flex-direction: column;
  justify-items: center;
  align-content: center;

  background-color: var(--background-alt);
  border-radius: 16px;

  padding: 16px;

  gap: 16px;
}

h1, p {
  text-align: center;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: 12px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  align-items: center;

  font-size: small;

  text-shadow:
    -2px 2px var(--background-alt),
    2px 2px var(--background-alt),
    -2px -2px var(--background-alt),
    2px -2px var(--background-alt);

  width: 100%;
  
  z-index: 0;
}

.input {
  outline: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -8px;
  background-color: var(--background-alt);
  border: 2px solid var(--background);

  border-radius: 8px;

  font-size: medium;
  font-family: 'Outfit';
  color: var(--text);

  width: 100%;
  
  z-index: -1;
}

.input:disabled {
  background-color: var(--background);
}


.button {
  font-family: 'Outfit';
  font-size: medium;

  color: var(--background-alt);
  background-color: var(--accent);
  border: 2px solid var(--accent-alt);
  outline: none;
  
  border-radius: 8px;
  padding: 8px;

  cursor: pointer;

  transition: .2s ease-in-out;
}

.button:hover {
  background-color: var(--accent-alt);
}

.searchbar {
  display: flex;
  flex-direction: row;
  gap: 8px;

  align-items: center;
  justify-content: start;

  width: 30vw;
  
  outline: none;
  padding: 8px;
  padding-right: 16px;
  background-color: var(--background);
  border: 2px solid var(--background-alt);

  height: 48px;

  border-radius: 16px;

  font-size: large;
  font-family: 'Outfit';
  color: var(--text);
}

.searchbar input {
  background: none;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;

  font-size: medium;
  font-family: 'Outfit';
  color: var(--text);
}

.mensagem-erro {
  background-color: var(--error);
  padding: 16px;
  border: 2px solid var(--error-alt);
  border-radius: 8px;

  font-size: medium;
}

.botao-deslogar {
  position: absolute;
  background-color: var(--error);
  padding: 4px;
  border: 2px solid var(--error-alt);
  border-radius: 8px;

  font-size: medium;
}

.botao-deslogar:hover {
  background-color: var(--error-alt);
  color: initial;
}

details {
  padding: 16px;
  border-radius: 16px;
  border: 2px solid var(--background);
  background: none;

  width: 100%;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  margin: -16px;

  cursor: pointer;
  padding: 8px;
  background-color: var(--background);
  border-radius: 8px;
  user-select: none;

  font-size: small;
}

section {
  outline: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -16px;
  background: none;
  border: 2px solid var(--background);

  border-radius: 8px;

  width: 100%;
}

section h4 {
  margin-top: -16px;

  font-weight: normal;
  font-size: small;

  text-shadow:
    -2px 2px var(--background-alt),
    2px 2px var(--background-alt),
    -2px -2px var(--background-alt),
    2px -2px var(--background-alt);
  
  user-select: none;
}


details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  margin-bottom: 16px;
}

.perfil-section {
  display: none;
}

.perfil-section:target {
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.material-symbols-outlined {
  font-size: inherit !important;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}